.about_content_block{
    margin-bottom: 50px;
    text-indent: 30px;
}
.about_content h2{
	position: relative;
}
.about_content_info{
    width: 500px;
    letter-spacing: 2px;
	line-height: 20px;
}
.about_content{
    display: flex;
    justify-content: center;
	flex-direction: column;
	align-items: center;	
}
.about_image{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.about_image img, .about_image_side_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.about_image_side_box{
    height: 300px;
    width: 400px;
    overflow: hidden;
    border-radius: 20px;
}
.about_content_img_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: normal;
}
.about_imgs {
    display: flex;
    justify-content: space-around;
}
.about_text_block {
    width: 50%;
}
h3 {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    text-indent: 0px;
}
h2 {
    margin-bottom: 25px;
}
.flex_space_between .about_content_img_side {
    width: 40%;
}
.ILoveMuvyr {
    width: 700px;
}
.about_image_side {
    margin: 0px auto;
}
@media (max-width: 950px) {
    .about_imgs {
        flex-direction: column;
    }
    .about_content_img_side {
        width: 100% !important;
    }
    .about_text_block {
        width: 100%;
    }
    .about_image_side_box {
        margin: 0px auto;
    }
    .ILoveMuvyr {
        width: 100%;
    }
}
@media (max-width: 650px) {
    .about_image_side_box {
        width: 100%;
    }
}