.page_header {
    width: 100%;
    min-height: 540px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/muvir_story.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 100px 0px 50px;
}
.page_header_block {
    max-width: 50%;
}
.page_header_title {
    color: var(--color-white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    font-family: Oswald;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}
.page_header_text {
    color: var(--color-white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 18px;
    line-height: 150%;
    margin-top: 25px;
}
.page_header_buttons {
    margin-top: 75px;
}
.page_header_excursions_button {
    color: var(--color-white);
    font-family: Oswald;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 30px 70px;
    border-radius: 12px;
    background: var(--color-green);
    box-shadow: 0px 5px 0px -2px rgba(120, 215, 125, 0.80), 0px 25px 45px -20px rgba(0, 0, 0, 0.65), 0px 0px 10px 0px rgba(255, 255, 255, 0.35) inset;
    transition: background .3s;
}
.page_header_excursions_button:hover {
    background: var(--color-light-green);
}
section {
    padding: 100px 0px;
    background: var(--color-white);
}
section:nth-child(odd) {
    background: var(--color-light-gray);
}
.section_title {
    color: var(--color-black);
    font-family: Oswald;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.history_text {
    font-family: Inter;
    color: var(--color-black);
    font-size: 18px;
    line-height: 27px;
}
.history_text p {
    text-indent: 30px;
    margin: 30px 0px;
}
.columns_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    align-items: start;
}
.history_img_box, .comparison {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.history_img_box img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.quote {
    display: inline-block;
    margin: 1em;
    max-width: 100%;
    overflow: hidden;
}
.quote blockquote {
    background-color: #fff;
    border: solid 2px #757575;
    display: inline-block;
    margin: 0;
    padding: 1em;
    position: relative;
}
.quote blockquote:before {
    animation: clockwise 30s infinite linear;
    background-color: #fff;
    bottom: 10%;
    content: "";
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 10%;
}
.quote blockquote:after {
    animation: counter 30s infinite linear;
    background-color: #fff;
    bottom: 10%;
    content: "";
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 10%;
}
.quote blockquote cite {
    display: block;
    font-style: italic;
    text-align: right;
}
.quote blockquote cite:before {
    content: "- ";
}
.quote blockquote > * {
    position: relative;
    z-index: 1;
}
.quote span {
    position: absolute;
    top: 50%;
    color: rgba(0, 0, 0, 0.1);
    font-size: 256px;
}
@keyframes clockwise {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes counter {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@media (max-width:801px) {
    .columns_container {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}