.house_images {
    width: 40%;
}
.house_img_box {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
}
.house_img_box img, .house_slider_img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .3s;
}
.house_images_slider_box {
    width: 100%;
}
.house_slider_img_box {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    padding: 5px;
}
.house_slider_img_box img {
    border-radius: 10px;
}
.house_info {
    width: 50%;
}
.order {
    padding: 10px;
    border-radius: 10px;
    background: var(--color-green);
    color: #fff;
    text-align: center;
    font-weight: 500;
    transition: all .3s;
    cursor: pointer;
}
.order:hover {
    background: var(--color-yellow);
    color: var(--color-black);
}

@media (max-width: 950px) {
    .house_img_box {
        height: 200px;
    }
    .house_images {
        width: 100%;
    }
    .house_info {
        width: 100%;
    }
}