.card_img_box {
    height: 350px;
}
.card_info {
    justify-content: start;
    height: calc(100% - 350px);
}
.map {
    border-radius: 8px;
    overflow: hidden;
}
.addresses_catalog {
    row-gap: 15px;
    column-gap: 50px;
    margin-top: 50px;
}
.address {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    font-family: Inter;
}
.address::before {
    position: absolute;
    left: 0;
    top: 9px;
    display: block;
    content: "";
    padding: 5px;
    border-radius: 50%;
    background: var(--color-green);
    transform: translateY(-50%);
}