@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-black: #333;
    --color-white: #fff;
    --color-gray: #9F9F9F;
    --color-light-gray: #FAFAFA;
    --color-green: #78D77D;
    --color-light-green: #9BF6A0;
    --color-red: #EB5757;
}
*, ::before, ::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    width: 100%;
    background: var(--color-white);
}
.container {
    width: 1170px;
    margin: 0px auto;
}
.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.logo_group {
    cursor: pointer;
}
.logo_group, .socials_group {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo_img {
    width: 65px;
    height: 65px;
}
.logo_text {
    width: 100px;
    color: var(--color-black);
    font-family: Oswald;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    margin-left: 6px;
}
.socials_text {
    width: 110px;
    color: var(--color-gray);
    font-family: Inter;
    font-size: 14px;
    line-height: 140%;
    margin-right: 15px;
}
.socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}
.social_box {
    padding: 8px 15px;
    border-radius: 4px;
    transition: background .3s;
    cursor: pointer;
}

.vk_box {background: #1E88E5;}
.vk_box:hover {background: #4CA8F8;}
.telegram_box {background: #23A0DC;}
.telegram_box:hover {background: #53C7FF;}
.whatsapp_box {background: #5DDA74;}
.whatsapp_box:hover {background: #89EE9B;}
.viber_box {background: #855DDA;}
.viber_box:hover {background: #AD89FA;}

.free_call {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background: var(--color-green);
    border-radius: 8px;
    border: none;
    color: var(--color-white);
    font-family: Oswald;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    cursor: pointer;
    transition: background .3s;
}
.free_call:hover {
    background: var(--color-light-green);
}
.phone_number {
    color: var(--color-black);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
}
.phone_desc {
    color: var(--color-gray);
    font-family: Inter;
    font-size: 14px;
    line-height: 150%;
}
.header_menu_buttons {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(10, auto);
    margin: 0 auto;
}
.header_button {
    position: relative;
    padding-bottom: 15px;
    margin-top: 15px;
    color: var(--color-black);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    text-decoration: none;
    transition: color .3s;
}
.active_header_button, .header_button:hover {
    color: var(--color-green);
}
.active_header_button::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: var(--color-green);
    border-radius: 10px;
    bottom: 0;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--color-white);
    z-index: 999;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
}
footer {
    width: 100%;
}
.copyright {
    box-shadow: -1px 0px 2px var(--color-gray);
    padding: 7px;
    width: 100%;
    text-align: center;
    color: var(--color-gray);
    font-family: Inter;
    font-size: 12px;
}
.contacts_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
}
.contacts_address {
    margin-top: 40px;
    display: flex;
    align-items: center;
    color: var(--color-black);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}
.contacts_address img {
    margin-right: 10px;
}
.contacts_map {
    border-radius: 8px;
    overflow: hidden;
}

@media (max-width:1281px) {
    .container {
        width: 1000px;
    }
}
@media (max-width:1025px) {
    .container {
        width: 770px;
    }
}
@media (max-width:801px) {
    .container {
        width: calc(100% - 40px);
    }
    .contacts_container {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .contacts_map {
        height: 400px;
    }
    .contacts_info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }
}
@media (max-width:600px) {
    .container {
        width: calc(100% - 10px);
    }
}
@media (max-width:550px) {
    .contacts_info {
        display: block;
    }
}